# Base de datos Supabase
DATABASE_URL=postgresql://postgres:PASSWORD@HOST.supabase.co:5432/postgres

# JWT
JWT_SECRET=tu_clave_secreta_super_segura_minimo_32_caracteres_aleatorios

# Servidor
PORT=3000
NODE_ENV=development
REQUIRE_GEO=false

# CORS
CORS_ORIGIN=http://localhost:3000,https://alinaresblanco-gif.github.io
